<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
    <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="fa fa-times"></i></a></h3>
    <div class="slimscroll">
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar2.png', alt: "") %><span>Sandra smith<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar3.png', alt: "") %><span>Amily Lee<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar4.png', alt: "") %><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar5.png', alt: "") %><span>Nick Doe<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar2.png', alt: "") %><span>Sandra smith<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar3.png', alt: "") %><span>Amily Lee<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar4.png', alt: "") %><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
        <a href="javascript:void(0);" class="showRight2"><%= image_tag('backoffice/avatar5.png', alt: "") %><span>Nick Doe<small>Hi! How're you?</small></span></a>
    </div>
</nav>